* {
  box-sizing: border-box;
}

body {
  background-color: $bs-sand;
  color: $bs-dark-green;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $blue;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0px;
  cursor: pointer;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.bg-overlay {
  position: relative;
  background-color: $bs-dark-green;
  color: $white;
  overflow: hidden;
  &__vector-header {
    position: absolute;
    width: 51vw;
    top: 128px;
    right: -7px;
    @include v-lg {
      display: none;
    }
  }
  &__vector-body {
    position: absolute;
    top: 24.1%;
    right: -7px;
    width: 30.6vw;
    @include v-lg {
      top: 18.7%;
      width: 39.3vw;
      right: -8.1%;
    }
  }
}

.bg-overlay-tail {
  margin-top: 4px;
  width: 100%;
  height: 243px;
  background-image: url('./../assets/imgs/bg-overlay-tail.png');
}
