* {
  box-sizing: border-box;
}

body {
  background-color: $bs-sand;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1312px;
  padding: 24px;
  margin: 0 auto;
  box-sizing: content-box;
}

.bg-overlay {
  background-color: $bs-dark-green;
}

.bg-overlay-tail {
  margin-top: 4px;
  width: 100%;
  height: 243px;
  background-image: url('./../assets/imgs/bg-overlay-tail.png');
}
