* {
  box-sizing: border-box;
}

body {
  background-color: $bs-sand;
  overflow-x: hidden;
  color: $bs-dark-green;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $blue;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0px;
  cursor: pointer;
}

.container {
  max-width: 1312px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  box-sizing: content-box;
}

.bg-overlay {
  background-color: $bs-dark-green;
  color: $white;
}

.bg-overlay-tail {
  margin-top: 4px;
  width: 100%;
  height: 243px;
  background-image: url('./../assets/imgs/bg-overlay-tail.png');
}
