body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 96px;
  line-height: 100%;
}

h2 {
  font-size: 72px;
  line-height: 110%;
}

h3 {
  font-size: 56px;
  line-height: 110%;
}

h4 {
  font-size: 40px;
  line-height: 130%;
}

h5 {
  font-size: 32px;
  line-height: 110%s;
}

.text-s {
  font-size: 14px;
  line-height: 150%;
}

.text-m {
  font-size: 16px;
  line-height: 150%;
}

.text-l {
  font-size: 18px;
  line-height: 130%;
}

.text-xl {
  font-size: 20px;
  line-height: 130%;
}

.text-btn-s {
  font-size: 14px;
  line-height: 120%;
}

.text-btn-m {
  font-size: 14px;
  line-height: 140%;
}

@include v-lg {
  h1 {
    font-size: 48px;
    line-height: 100%;
  }

  h2 {
    font-size: 40px;
    line-height: 110%;
  }

  h3 {
    font-size: 32px;
    line-height: 110%;
  }

  h4 {
    font-size: 24px;
    line-height: 130%;
  }

  h5 {
    font-size: 20px;
    line-height: 110%s;
  }

  .text-s {
    font-size: 12px;
    line-height: 150%;
  }

  .text-m {
    font-size: 14px;
    line-height: 150%;
  }

  .text-l {
    font-size: 16px;
    line-height: 130%;
  }

  .text-xl {
    font-size: 18px;
    line-height: 140%;
  }
}

.title-description {
  display: flex;
  align-items: center;
  text-align: center;
  height: 33px;
  padding: 8px 16px;
  color: white;
  border: 1px solid $white;
  background-color: transparent;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 14px;
  &_white {
    background-color: $white;
    color: $bs-svat;
  }
  &_dark {
    color: $bs-dark-green;
    border-color: $bs-dark-green;
  }
}
