$bs-green: #5cb047;
$bs-dark-green: #1f4a21;
$bs-light-green: #bad862;
$bs-sand: #eae5da;
$bs-svat: #0b1f2e;
$bs-moss-green: #96be6e;
$bs-medium-blue: #4c687b;
$bs-light-blue: #9aafbb;
$bs-dark-blue: #3d4a57;
$green-200: #d2dbd3;
$green-700: #70886b;

$black: #0b1f2e;
$gray-800: #8c8c8c;
$gray-700: #d1d1d1;
$gray-600: #dddddd;
$gray-500: #e8e8e8;
$gray-400: #f3f3f3;
$gray-300: #f9f9f9;
$white: #ffffff;

$success: #21d184;
$error: #ff5c5c;
$blue: #3870ff;
