.cards {
  margin-top: 104px;
  padding-bottom: 156px;
  @include v-lg {
    margin-top: 61px;
    padding-bottom: 80px;
  }
  &__content {
    display: grid;
    height: 1216px;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    @include v-md {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
      height: auto;
    }
  }
}

.card {
  position: relative;
  width: 100%;
  background-color: $black;
  height: 384px;
  overflow: hidden;
  @include v-md {
    max-width: 600px;
    margin: 0 auto;
  }
  @media (max-width: 359px) {
    height: 320px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    @include v-lg {
      flex-direction: column-reverse;
      gap: 16px;
    }
  }

  &__content {
    padding: 32px 32px 32px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    @include v-md {
      padding: 24px;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 110%;
  }

  &__title-description {
    width: max-content;
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-top: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 120%;
    color: $white;
  }

  &__icon {
    margin-left: 8px;
  }

  &__img-desc,
  &__img-mob {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__img-desc {
    display: block;
    @media (max-width: 480px) {
      display: none;
    }
  }

  &__img-mob {
    display: none;
    @media (max-width: 480px) {
      display: block;
    }
  }

  &_last {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: $bs-light-green;
    color: $bs-dark-green;
    @include v-md {
      height: 368px;
      padding: 24px;
    }
  }

  &__logo {
    width: 120px;
  }

  &__secondary-title {
    margin-top: auto;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
    font-size: 32px;
    @include v-md {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__text {
    margin: 16px 0 32px;
    @include v-md {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__secondary-button:hover {
    background-color: $bs-dark-green;
    color: $white;
  }
}
