.cras-nibh {
  margin-top: 181px;
  &__title {
    max-width: 1000px;
    font-weight: 600;
  }

  &__title_cursive {
    font-weight: 400;
    font-style: italic;
  }

  &__buttons {
    display: flex;
    margin-top: 39px;
    gap: 16px;
  }

  &__secondary-button {
    width: 369px;
  }
}
