.video-section {
  margin-top: 80px;
  @include v-md {
    margin-top: 63px;
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 664px;
    background-image: url('../assets/imgs/video.jpg');
    background-size: cover;
    background-position: center;
    width: calc(100% + 64px);
    left: 50%;
    transform: translateX(-50%);
    @include v-lg {
      height: 440px;
    }
    @include v-md {
      height: 360px;
    }
    @include v-sm {
      height: 256px;
    }
  }

  &__button {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    border: 2px solid $gray-800;
    background-color: inherit;
    backdrop-filter: blur(4px);
    &:hover {
      border: 2px solid $white;
    }
    @include v-md {
      width: 80px;
      height: 80px;
    }
  }

  &__svg {
    position: relative;
    top: 2px;
    left: 1px;
  }
}
